.contactMe{
  @include head-font;
  color: $text-color;
  margin-right: 25px;
}

.contactMe:hover {
  color: $hover-color;
  text-decoration: none;
}

.contact {
  padding-bottom: 200px;
}

.lulu {
  margin-top: -2%;
  margin-bottom: 3%;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}