.projectBackground {
  background-color: $gray-color;
  padding-bottom: 100px;
  border-radius: 10px;
}

.randomQuote {
  margin-left: 5%;
  margin-right: 5%;
}

.currentWeather {
  margin-right: 5%;
}

.codepen {
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
}

